<div id = "welcome part">
  <h1> Welcome to my Website </h1>

  <div id = "list all dogs">
    <% @dogs.each do |t| %>
      <h2><%= t.name %><br>
        <%= t.color %><br>
        <%= t.id%><br>
      <%= link_to "description", dog_path(t)%> </h2>


    <% end %>

  </div>


</div>
